@use "../util/" as u;

.contact {
  background-color: var(--landing-color);
  .channel {
    min-width: u.rem(290);
    max-width: u.rem(350);
    margin: auto;
    padding: u.rem(32) u.rem(16);
    text-align: center;
    border-radius: u.rem(10);
    background-color: var(--portfolio-color);
    color: var(--text-color-1);
    transition: var(--main-duration);

    &:hover {
      transform: scale(1.05);
    }
  }

  .channel-icon {
    font-size: u.rem(60);
    color: var(--primary-theme-color);
    transition: var(--main-duration);

    &:hover {
      color: var(--secondary-theme-color);
    }
  }

  h3 {
    font-size: u.rem(22);
    margin: u.rem(16) 0;
    text-transform: capitalize;
  }

  p {
    font-weight: bold;
  }
}
