@use "../util/" as u;

.main-footer {
  padding: u.rem(16);
  background-color: var(--portfolio-color);
  color: var(--text-color-1);
  gap: u.rem(15) u.rem(50);
  @include u.d-flex(center, center);
  flex-wrap: wrap;

  span {
    text-align: center;
    text-transform: capitalize;
  }

  .copyright-owner {
    color: var(--primary-theme-color);
    font-weight: 600;
  }

  .social {
    margin: 0;
  }
}
