@use "../util/" as u;

.landing {
  background-color: var(--landing-color);
  color: var(--text-color-1);
  user-select: none;

  .container {
    height: 100vh;
  }

  nav {
    display: flex;
    align-items: center;
    position: relative;
    height: u.rem(70);

    &.arabic {
      flex-direction: row-reverse;
    }
  }
}

.landing .logo {
  a {
    @include u.d-flex();
  }

  img {
    width: u.rem(120);
    padding: u.rem(10) 0;

    @include u.breakpoint(medium) {
      padding: u.rem(18) 0;
      width: u.rem(170);
    }
  }
}

.landing .links {
  flex: 1;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 3;
  opacity: 0;
  top: 180%;
  pointer-events: none;
  flex-direction: column;

  @include u.breakpoint(medium) {
    position: initial;
    opacity: 1;
    pointer-events: unset;
    flex-direction: row;
  }

  a {
    padding: u.rem(19) calc(u.rem(8) + 1.1vw);
    text-transform: capitalize;
    font-weight: 500;
    color: var(--text-color-1);
    position: relative;
    transition: var(--short-duration);
    @include u.breakpoint(medium) {
      font-size: 18px;
    }

    &:hover {
      color: var(--primary-theme-color);
    }

    &::before {
      content: "";
      bottom: u.rem(10);
      @include u.transform-center(50%);
      width: 6px;
      height: 0;
      background-color: var(--primary-theme-color);
      -wekbit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      transition: height var(--main-duration);
    }

    &:hover::before {
      height: 6px;
    }
  }

  &.opened {
    opacity: 1;
    width: 100%;
    top: 100%;
    pointer-events: initial;
    transition: var(--main-duration);
    background-color: var(--text-color-1);

    a {
      padding: u.rem(20);
      color: var(--text-color-2);

      &::before {
        content: unset;
      }

      &:hover {
        padding: u.rem(20) u.rem(28);
        color: var(--primary-theme-color);
      }
    }
  }
  .resume {
    color: var(--primary-theme-color);
  }
}

.landing .dark-light-btn {
  height: 100%;
  @include u.transform-center(0, 50%);
  z-index: 4;
  right: u.rem(76);
  display: flex;
  align-items: center;
  cursor: pointer;

  @include u.breakpoint(medium) {
    right: u.rem(12);
  }

  .icon {
    position: relative;
    width: u.rem(20);
    height: u.rem(20);
    background-color: var(--text-color-1);
    border-radius: 50%;
    border: 2px solid var(--landing-color);

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--landing-color);
      border-radius: 50%;
      position: absolute;
      top: -100%;
      right: -100%;
      transition: var(--main-duration);
    }

    &.night::before {
      top: -20%;
      right: -20%;
      background-color: var(--landing-color);
    }

    div {
      height: u.rem(1);
      background-color: var(--text-color-1);
      position: absolute;
      z-index: -1;
      @include u.transform-center(50%, 50%);
      transition: width var(--main-duration);

      &.line-1,
      &.line-2 {
        width: u.rem(30);
      }

      &.line-2 {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      &.line-3,
      &.line-4 {
        width: u.rem(28);
      }

      &.line-3 {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &.line-4 {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    &.night div {
      width: 0;
    }
  }
}

.landing .languages-btn {
  @include u.transform-center(0, 50%);
  z-index: 3;
  right: u.rem(128);
  font-size: u.rem(20);

  @include u.breakpoint(medium) {
    right: u.rem(58);
  }

  .button-icon {
    cursor: pointer;
    transition: var(--main-duration);
    &.disabled {
      pointer-events: none;
      opacity: 0.2;
    }
  }
}

.landing .toggle-menu {
  display: block;
  width: u.rem(22);
  height: u.rem(18);
  @include u.transform-center(0, 50%);
  cursor: pointer;
  right: u.rem(12);
  @include u.breakpoint(medium) {
    display: none;
  }

  span {
    position: absolute;
    background-color: var(--text-color-1);
    width: 100%;
    height: u.rem(2);
    transition: var(--short-duration);
  }

  &:hover .mid {
    width: 100%;
  }

  .top {
    top: 0;
  }

  .mid {
    top: u.rem(8);
    right: 0;
    width: 60%;
  }

  .bot {
    top: u.rem(16);
  }

  &.opened {
    .top,
    .bot {
      top: u.rem(8);
      background-color: rgb(255, 24, 24);
    }

    .top {
      transform: rotate(45deg);
    }

    .mid {
      opacity: 0;
    }

    .bot {
      transform: rotate(-45deg);
    }
  }
}

.landing .hero {
  height: calc(100% - u.rem(70));
  display: flex;
  overflow: hidden;
  text-transform: capitalize;
  position: relative;
}

.landing .info {
  // padding-top: u.rem(20);
  margin-right: auto;
  margin-left: auto;

  @include u.breakpoint(medium) {
    align-self: center;
    margin: unset;
  }

  .input-cursor {
    display: block;
    width: u.rem(2);
    height: u.rem(18);
    background-color: var(--text-color-1);
    opacity: 0;
    animation: blink 0.5s 0.1s 4 linear;
    margin-left: u.rem(4);
    @keyframes blink {
      0%,
      40% {
        opacity: 0;
      }

      60%,
      100% {
        opacity: 1;
      }
    }
  }

  .greet {
    width: fit-content;
    @include u.d-flex(center, center);

    .text {
      font-size: u.rem(14);
      @include u.breakpoint(medium) {
        font-size: u.rem(16);
      }
      @include u.breakpoint(large) {
        font-size: u.rem(18);
      }
    }
  }

  .job-title {
    font-size: u.rem(28);
    // color: var(--primary-theme-color);
    -webkit-text-stroke: u.rem(0.5) var(--text-color-1);
    color: transparent;
    transition: color var(--main-duration);
    margin: u.rem(10) 0;

    &.filled {
      color: var(--primary-theme-color);
    }

    &.ar {
      -webkit-text-stroke: unset;
    }

    @include u.breakpoint(small) {
      font-size: u.rem(40);
      -webkit-text-stroke: u.rem(1) var(--text-color-1);
    }

    @include u.breakpoint(large) {
      font-size: u.rem(56);
    }
  }

  .my-job {
    @include u.d-flex(center, center);
    width: fit-content;
    height: u.rem(28);
    font-size: u.rem(14);
    @include u.breakpoint(small) {
      font-size: u.rem(16);
    }
    @include u.breakpoint(medium) {
      font-size: u.rem(18);
    }

    .input-cursor {
      animation: blink 0.5s 2.3s linear 5;
      opacity: 0;
    }
  }
  .social {
    animation: fade-in 0.6s 5.2s ease-out both;
  }
}

.landing .image {
  @include u.transform-center(50%);
  bottom: u.rem(-10);

  @include u.breakpoint(medium) {
    @include u.transform-center(0);
    left: auto;
    right: 0;
  }

  &.left {
    left: 0;
    right: auto;
  }
  &.right {
    right: 0;
    left: auto;
  }

  img {
    max-width: calc(170px + 8vh);

    @include u.breakpoint(medium) {
      max-width: u.rem(350);
    }
    @include u.breakpoint(xlarge) {
      max-width: u.rem(400);
    }
  }
}
