@use "../util/" as u;

.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--offwhite-color);

  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(u.rem(320), 1fr));
    gap: u.rem(30);
    position: relative;
    overflow: hidden;
  }
  .skills-group {
    // max-width: u.rem(500);
    background-color: hsl(0, 0%, 98%);
    border: 1px solid #aaa;
    padding: u.rem(20);
    border-radius: u.rem(15);
    position: relative;
    opacity: 0;
    transition: 0.7s;

    &.lt {
      left: -100%;
    }

    &.rt {
      right: -100%;
    }

    .images-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: u.rem(15);
      gap: u.rem(20);

      .image img {
        width: u.rem(60);
        border-radius: 50%;

        @include u.breakpoint(large) {
          width: u.rem(85);
        }
      }
    }

    h3 {
      font-size: u.rem(26);
      margin-bottom: u.rem(15);
    }

    h4 {
      font-size: u.rem(18);
      font-weight: 600;
      margin-bottom: u.rem(10);
    }
    ul li {
      font-weight: 500;
      font-size: u.rem(18);
      margin: u.rem(10) 0 0 u.rem(20);
      position: relative;

      &::before {
        content: "\f058";
        position: absolute;
        font-family: "Font Awesome 6 Free";
        font-weight: bold;
        left: u.rem(-25);
        @include u.transform-center(0, 50%);
        font-size: u.rem(18);
        color: var(--dark-color);
      }
    }
  }
}
