@use "../util/" as u;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary-theme-color: hsl(207, 90%, 54%);
  --secondary-theme-color: hsl(207, 90%, 40%);
  --light-theme-color: hsl(207, 90%, 90%);
  --section-padding: 70px;
  --main-duration: 0.5s;
  --short-duration: 0.3s;

  // LIGHT MODE
  --landing-color: #f8f9fa;
  --portfolio-color: #e9ecef;
  --text-color-1: #212529;
  --text-color-2: #f8f9fa;
}

.dark-mode {
  --landing-color: #212529;
  --portfolio-color: #495057;
  --text-color-1: #f8f9fa;
  --text-color-2: #212529;
}

html {
  scroll-behavior: smooth;
  // Firefox
  scrollbar-color: var(--primary-theme-color) var(--light-theme-color);
}

// Chrome
html::-webkit-scrollbar {
  width: u.rem(16);
}

html::-webkit-scrollbar-track {
  background-color: var(--light-theme-color);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--primary-theme-color);
}

html::-webkit-scrollbar-thumb:active {
  background-color: var(--secondary-theme-color);
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: u.rem(15);
  padding-right: u.rem(15);
  margin-left: auto;
  margin-right: auto;

  @include u.breakpoint(small) {
    width: map-get(u.$breakpoints-up, small) - 1em;
  }

  @include u.breakpoint(medium) {
    width: map-get(u.$breakpoints-up, medium) - 1.125em;
  }

  @include u.breakpoint(large) {
    width: map-get(u.$breakpoints-up, large) - 1.375em;
  }

  @include u.breakpoint(xlarge) {
    width: map-get(u.$breakpoints-up, xlarge) - 1.875em;
  }
}

.scrollToTop {
  background-color: var(--primary-theme-color);
  padding: u.rem(8) u.rem(12);
  color: #fff;
  position: fixed;
  bottom: u.rem(30);
  right: u.rem(25);
  font-size: u.rem(22);
  border-radius: u.rem(8);
  cursor: default;
  opacity: 0;
  transition: var(--main-duration);

  &.appear {
    opacity: 1;
    cursor: pointer;
  }

  &:hover {
    background-color: var(--secondary-theme-color);
  }
}
