// To Join us, You need to follow these rules
// 1. Use Multiple times.
@use "../util/" as u;

.main-heading {
  width: fit-content;
  margin: 0 0 u.rem(20);
  padding: u.rem(6) u.rem(8);
  font-size: u.rem(30);
  text-transform: capitalize;
  position: relative;
  transition: var(--main-duration);
  z-index: 2;

  @include u.breakpoint(medium) {
    font-size: u.rem(32);
  }

  @include u.breakpoint(xlarge) {
    font-size: u.rem(36);
  }

  a {
    color: #000;
    opacity: 0;
  }

  &::before {
    content: "";
    position: absolute;
    @include u.transform-center(u.rem(2), 50%);
    width: 0;
    height: 60%;
    background-color: hsl(207, 90%, 80%);
    transition: var(--main-duration);
  }

  &.active {
    a {
      animation: appear-heading 0.5s 1s forwards;
    }
    &::before {
      animation: active-heading 1s forwards;
    }
  }

  @keyframes appear-heading {
    to {
      opacity: 1;
    }
  }

  @keyframes active-heading {
    0% {
      left: u.rem(2);
      width: u.rem(2);
    }
    50% {
      left: u.rem(2);
      width: 100%;
    }
    100% {
      left: 100%;
      width: 0;
    }
  }
}

.special-btn {
  display: block;
  width: fit-content;
  background-color: var(--main-color);
  padding: u.rem(10) u.rem(16);
  color: white;
  border-radius: u.rem(10);
  margin: u.rem(16) 0;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: u.rem(1);
  animation: fade-in 0.6s 4.6s ease-out both;
  transition: var(--main-duration);
  &:hover {
    background-color: var(--dark-color);
  }
  @include u.breakpoint(medium) {
    padding: u.rem(14) u.rem(25);
  }
}

@keyframes fade-in {
  0% {
    -webkit-transform: translateX(u.rem(-50));
    transform: translateX(u.rem(-50));
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.social {
  display: flex;
  margin: u.rem(16) 0;

  a {
    display: block;
    color: white;
    font-size: u.rem(26);
    padding: 0 u.rem(13) 0;
    transition: var(--main-duration);

    &:hover {
      opacity: 0.7;
    }
  }
}

.cards {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(u.rem(300), 1fr));
    gap: u.rem(40);
    overflow: hidden;
    padding: u.rem(20) u.rem(15);
    justify-content: center;
  }

  .card {
    padding: u.rem(32) u.rem(16);
    position: relative;
    top: 40%;
    opacity: 0;
    transition: 0.7s;
    background-color: #fff;
    text-align: center;
    -webkit-border-radius: u.rem(10);
    -moz-border-radius: u.rem(10);
    border-radius: u.rem(10);
    border-width: u.rem(3);
    border-color: #eee;
    border-style: solid;

    &:not(.disabled):hover {
      transform: scale(1.03);
      border-color: var(--main-color);
    }

    .main-icon {
      display: inline-block;
      color: var(--main-color);
      font-size: u.rem(60);

      @include u.breakpoint(medium) {
        font-size: u.rem(70);
      }
    }

    h3 {
      margin: u.rem(10) 0;
      text-transform: capitalize;
    }

    p {
      line-height: 1.6;
      color: var(--para-color);
    }
  }
}
